openapi: 3.2.0
info:
  title: WME Group Content API (WordPress REST wp/v2) Businesses API
  version: wp/v2
  summary: Public read surface of wmegrp.com — the corporate site of WME Group, the company formerly named Endeavor Group Holdings.
  description: WME Group (the renamed Endeavor Group Holdings) publishes wmegrp.com on WordPress, which exposes the WordPress REST API at https://wmegrp.com/wp-json/.
  contact:
    name: WME Group
    url: https://wmegrp.com/
    email: inquiries@wmegrp.com
  x-derived-by: API Evangelist enrichment pipeline
  x-derived-from: https://wmegrp.com/wp-json/
  x-derived-on: '2026-09-06'
  x-provider-published: false
servers:
- url: https://wmegrp.com/wp-json
  description: Production
tags:
- name: Businesses
paths:
  /wp/v2/businesses:
    get:
      operationId: getBusinesses
      summary: GET /wp/v2/businesses
      tags:
      - Businesses
      responses:
        '200':
          description: Success. JSON payload as returned by the WordPress REST API.
          content:
            application/json:
              schema:
                type:
                - object
                - array
        '400':
          description: rest_invalid_param — a parameter failed validation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '401':
          description: rest_forbidden — authentication required or insufficient capability.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: rest_no_route / rest_post_invalid_id — no matching route or object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: after
        in: query
        required: false
        schema:
          type: string
          format: date-time
        description: Limit response to posts published after a given ISO8601 compliant date.
      - name: before
        in: query
        required: false
        schema:
          type: string
          format: date-time
        description: Limit response to posts published before a given ISO8601 compliant date.
      - name: businesses_cities
        in: query
        required: false
        schema:
          type: object
        description: Limit result set to items with specific terms assigned in the businesses_cities taxonomy.
      - name: businesses_cities_exclude
        in: query
        required: false
        schema:
          type: object
        description: Limit result set to items except those with specific terms assigned in the businesses_cities taxonomy.
      - name: context
        in: query
        required: false
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
        description: Scope under which the request is made; determines fields present in response.
      - name: exclude
        in: query
        required: false
        schema:
          type: array
          items:
            type: integer
          default: []
        description: Ensure result set excludes specific IDs.
      - name: include
        in: query
        required: false
        schema:
          type: array
          items:
            type: integer
          default: []
        description: Limit result set to specific IDs.
      - name: modified_after
        in: query
        required: false
        schema:
          type: string
          format: date-time
        description: Limit response to posts modified after a given ISO8601 compliant date.
      - name: modified_before
        in: query
        required: false
        schema:
          type: string
          format: date-time
        description: Limit response to posts modified before a given ISO8601 compliant date.
      - name: offset
        in: query
        required: false
        schema:
          type: integer
        description: Offset the result set by a specific number of items.
      - name: order
        in: query
        required: false
        schema:
          type: string
          enum:
          - asc
          - desc
          default: desc
        description: Order sort attribute ascending or descending.
      - name: orderby
        in: query
        required: false
        schema:
          type: string
          enum:
          - author
          - date
          - id
          - include
          - modified
          - parent
          - relevance
          - slug
          - include_slugs
          - title
          default: date
        description: Sort collection by post attribute.
      - name: page
        in: query
        required: false
        schema:
          type: integer
          default: 1
          minimum: 1
        description: Current page of the collection.
      - name: parent
        in: query
        required: false
        schema:
          type: array
          items:
            type: integer
          default: []
        description: Limit result set to items with particular parent IDs.
      - name: parent_exclude
        in: query
        required: false
        schema:
          type: array
          items:
            type: integer
          default: []
        description: Limit result set to all items except those of a particular parent ID.
      - name: per_page
        in: query
        required: false
        schema:
          type: integer
          default: 10
          minimum: 1
          maximum: 100
        description: Maximum number of items to be returned in result set.
      - name: search
        in: query
        required: false
        schema:
          type: string
        description: Limit results to those matching a string.
      - name: search_columns
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
            enum:
            - post_title
            - post_content
            - post_excerpt
          default: []
        description: Array of column names to be searched.
      - name: search_semantics
        in: query
        required: false
        schema:
          type: string
          enum:
          - exact
        description: How to interpret the search input.
      - name: slug
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
        description: Limit result set to posts with one or more specific slugs.
      - name: status
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
            enum:
            - publish
            - future
            - draft
            - pending
            - private
            - trash
            - auto-draft
            - inherit
            - request-pending
            - request-confirmed
            - request-failed
            - request-completed
            - acf-disabled
            - any
          default: publish
        description: Limit result set to posts assigned one or more statuses.
      - name: tax_relation
        in: query
        required: false
        schema:
          type: string
          enum:
          - AND
          - OR
        description: Limit result set based on relationship between multiple taxonomies.
      description: Read operation. Observed anonymously readable on wmegrp.com for the public content collections.
    post:
      operationId: createBusinesses
      summary: POST /wp/v2/businesses
      tags:
      - Businesses
      responses:
        '200':
          description: Success. JSON payload as returned by the WordPress REST API.
          content:
            application/json:
              schema:
                type:
                - object
                - array
        '400':
          description: rest_invalid_param — a parameter failed validation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '401':
          description: rest_forbidden — authentication required or insufficient capability.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: rest_no_route / rest_post_invalid_id — no matching route or object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                businesses_cities:
                  type: array
                  items:
                    type: integer
                  description: The terms assigned to the post in the businesses_cities taxonomy.
                date:
                  type: string
                  format: date-time
                  description: The date the post was published, in the site's timezone.
                date_gmt:
                  type: string
                  format: date-time
                  description: The date the post was published, as GMT.
                parent:
                  type: integer
                  description: The ID for the parent of the post.
                password:
                  type: string
                  description: A password to protect access to the content and excerpt.
                slug:
                  type: string
                  description: An alphanumeric identifier for the post unique to its type.
                status:
                  type: string
                  enum:
                  - publish
                  - future
                  - draft
                  - pending
                  - private
                  - acf-disabled
                  description: A named status for the post.
                template:
                  type: string
                  description: The theme file to use to display the post.
                title:
                  type: object
                  description: The title for the post.
      security:
      - applicationPassword: []
      description: Write operation. Requires an authenticated WordPress user with the capability the route enforces; anonymous callers receive HTTP 401 rest_forbidden.
  /wp/v2/businesses/{id}:
    get:
      operationId: getBusinessesById
      summary: GET /wp/v2/businesses/{id}
      tags:
      - Businesses
      responses:
        '200':
          description: Success. JSON payload as returned by the WordPress REST API.
          content:
            application/json:
              schema:
                type:
                - object
                - array
        '400':
          description: rest_invalid_param — a parameter failed validation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '401':
          description: rest_forbidden — authentication required or insufficient capability.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: rest_no_route / rest_post_invalid_id — no matching route or object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
        description: Path segment from the WordPress route pattern.
      - name: context
        in: query
        required: false
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
        description: Scope under which the request is made; determines fields present in response.
      - name: password
        in: query
        required: false
        schema:
          type: string
        description: The password for the post if it is password protected.
      description: Read operation. Observed anonymously readable on wmegrp.com for the public content collections.
    post:
      operationId: createBusinessesById
      summary: POST /wp/v2/businesses/{id}
      tags:
      - Businesses
      responses:
        '200':
          description: Success. JSON payload as returned by the WordPress REST API.
          content:
            application/json:
              schema:
                type:
                - object
                - array
        '400':
          description: rest_invalid_param — a parameter failed validation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '401':
          description: rest_forbidden — authentication required or insufficient capability.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: rest_no_route / rest_post_invalid_id — no matching route or object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
        description: Path segment from the WordPress route pattern.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                businesses_cities:
                  type: array
                  items:
                    type: integer
                  description: The terms assigned to the post in the businesses_cities taxonomy.
                date:
                  type: string
                  format: date-time
                  description: The date the post was published, in the site's timezone.
                date_gmt:
                  type: string
                  format: date-time
                  description: The date the post was published, as GMT.
                parent:
                  type: integer
                  description: The ID for the parent of the post.
                password:
                  type: string
                  description: A password to protect access to the content and excerpt.
                slug:
                  type: string
                  description: An alphanumeric identifier for the post unique to its type.
                status:
                  type: string
                  enum:
                  - publish
                  - future
                  - draft
                  - pending
                  - private
                  - acf-disabled
                  description: A named status for the post.
                template:
                  type: string
                  description: The theme file to use to display the post.
                title:
                  type: object
                  description: The title for the post.
      security:
      - applicationPassword: []
      description: Write operation. Requires an authenticated WordPress user with the capability the route enforces; anonymous callers receive HTTP 401 rest_forbidden.
    put:
      operationId: updateBusinessesById
      summary: PUT /wp/v2/businesses/{id}
      tags:
      - Businesses
      responses:
        '200':
          description: Success. JSON payload as returned by the WordPress REST API.
          content:
            application/json:
              schema:
                type:
                - object
                - array
        '400':
          description: rest_invalid_param — a parameter failed validation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '401':
          description: rest_forbidden — authentication required or insufficient capability.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: rest_no_route / rest_post_invalid_id — no matching route or object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
        description: Path segment from the WordPress route pattern.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                businesses_cities:
                  type: array
                  items:
                    type: integer
                  description: The terms assigned to the post in the businesses_cities taxonomy.
                date:
                  type: string
                  format: date-time
                  description: The date the post was published, in the site's timezone.
                date_gmt:
                  type: string
                  format: date-time
                  description: The date the post was published, as GMT.
                parent:
                  type: integer
                  description: The ID for the parent of the post.
                password:
                  type: string
                  description: A password to protect access to the content and excerpt.
                slug:
                  type: string
                  description: An alphanumeric identifier for the post unique to its type.
                status:
                  type: string
                  enum:
                  - publish
                  - future
                  - draft
                  - pending
                  - private
                  - acf-disabled
                  description: A named status for the post.
                template:
                  type: string
                  description: The theme file to use to display the post.
                title:
                  type: object
                  description: The title for the post.
      security:
      - applicationPassword: []
      description: Write operation. Requires an authenticated WordPress user with the capability the route enforces; anonymous callers receive HTTP 401 rest_forbidden.
    patch:
      operationId: updateBusinessesById2
      summary: PATCH /wp/v2/businesses/{id}
      tags:
      - Businesses
      responses:
        '200':
          description: Success. JSON payload as returned by the WordPress REST API.
          content:
            application/json:
              schema:
                type:
                - object
                - array
        '400':
          description: rest_invalid_param — a parameter failed validation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '401':
          description: rest_forbidden — authentication required or insufficient capability.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: rest_no_route / rest_post_invalid_id — no matching route or object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
        description: Path segment from the WordPress route pattern.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                businesses_cities:
                  type: array
                  items:
                    type: integer
                  description: The terms assigned to the post in the businesses_cities taxonomy.
                date:
                  type: string
                  format: date-time
                  description: The date the post was published, in the site's timezone.
                date_gmt:
                  type: string
                  format: date-time
                  description: The date the post was published, as GMT.
                parent:
                  type: integer
                  description: The ID for the parent of the post.
                password:
                  type: string
                  description: A password to protect access to the content and excerpt.
                slug:
                  type: string
                  description: An alphanumeric identifier for the post unique to its type.
                status:
                  type: string
                  enum:
                  - publish
                  - future
                  - draft
                  - pending
                  - private
                  - acf-disabled
                  description: A named status for the post.
                template:
                  type: string
                  description: The theme file to use to display the post.
                title:
                  type: object
                  description: The title for the post.
      security:
      - applicationPassword: []
      description: Write operation. Requires an authenticated WordPress user with the capability the route enforces; anonymous callers receive HTTP 401 rest_forbidden.
    delete:
      operationId: deleteBusinessesById
      summary: DELETE /wp/v2/businesses/{id}
      tags:
      - Businesses
      responses:
        '200':
          description: Success. JSON payload as returned by the WordPress REST API.
          content:
            application/json:
              schema:
                type:
                - object
                - array
        '400':
          description: rest_invalid_param — a parameter failed validation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '401':
          description: rest_forbidden — authentication required or insufficient capability.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: rest_no_route / rest_post_invalid_id — no matching route or object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
        description: Path segment from the WordPress route pattern.
      - name: force
        in: query
        required: false
        schema:
          type: boolean
          default: false
        description: Whether to bypass Trash and force deletion.
      security:
      - applicationPassword: []
      description: Write operation. Requires an authenticated WordPress user with the capability the route enforces; anonymous callers receive HTTP 401 rest_forbidden.
components:
  schemas:
    WPRestError:
      type: object
      description: The WordPress REST API error envelope. Not RFC 9457 problem+json.
      properties:
        code:
          type: string
          description: Machine-readable error slug, e.g. rest_forbidden, rest_no_route, rest_invalid_param.
        message:
          type: string
          description: Human-readable message.
        data:
          type: object
          properties:
            status:
              type: integer
              description: HTTP status code, repeated in the body.
      required:
      - code
      - message
  securitySchemes:
    applicationPassword:
      type: http
      scheme: basic
      description: WordPress Application Passwords over HTTP Basic. Issued from /wp-admin/authorize-application.php by an authenticated site user; not available to the public.
