openapi: 3.2.0
info:
  title: WME Group Content API (WordPress REST wp/v2) Global Styles…
  version: wp/v2
  summary: Public read surface of wmegrp.com — the corporate site of WME Group, the company formerly named Endeavor Group Holdings.
  description: WME Group (the renamed Endeavor Group Holdings) publishes wmegrp.com on WordPress, which exposes the WordPress REST API at https://wmegrp.com/wp-json/.
  contact:
    name: WME Group
    url: https://wmegrp.com/
    email: inquiries@wmegrp.com
  x-derived-by: API Evangelist enrichment pipeline
  x-derived-from: https://wmegrp.com/wp-json/
  x-derived-on: '2026-09-06'
  x-provider-published: false
servers:
- url: https://wmegrp.com/wp-json
  description: Production
tags:
- name: global styles
paths:
  /wp/v2/global-styles/{id}:
    get:
      operationId: getGlobalStylesById
      summary: GET /wp/v2/global-styles/{id}
      tags:
      - global styles
      responses:
        '200':
          description: Success. JSON payload as returned by the WordPress REST API.
          content:
            application/json:
              schema:
                type:
                - object
                - array
        '400':
          description: rest_invalid_param — a parameter failed validation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '401':
          description: rest_forbidden — authentication required or insufficient capability.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: rest_no_route / rest_post_invalid_id — no matching route or object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
        description: Path segment from the WordPress route pattern.
      description: Read operation. Observed anonymously readable on wmegrp.com for the public content collections.
    post:
      operationId: createGlobalStylesById
      summary: POST /wp/v2/global-styles/{id}
      tags:
      - global styles
      responses:
        '200':
          description: Success. JSON payload as returned by the WordPress REST API.
          content:
            application/json:
              schema:
                type:
                - object
                - array
        '400':
          description: rest_invalid_param — a parameter failed validation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '401':
          description: rest_forbidden — authentication required or insufficient capability.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: rest_no_route / rest_post_invalid_id — no matching route or object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
        description: Path segment from the WordPress route pattern.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                settings:
                  type: object
                  description: Global settings.
                styles:
                  type: object
                  description: Global styles.
                title:
                  type: object
                  description: Title of the global styles variation.
      security:
      - applicationPassword: []
      description: Write operation. Requires an authenticated WordPress user with the capability the route enforces; anonymous callers receive HTTP 401 rest_forbidden.
    put:
      operationId: updateGlobalStylesById
      summary: PUT /wp/v2/global-styles/{id}
      tags:
      - global styles
      responses:
        '200':
          description: Success. JSON payload as returned by the WordPress REST API.
          content:
            application/json:
              schema:
                type:
                - object
                - array
        '400':
          description: rest_invalid_param — a parameter failed validation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '401':
          description: rest_forbidden — authentication required or insufficient capability.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: rest_no_route / rest_post_invalid_id — no matching route or object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
        description: Path segment from the WordPress route pattern.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                settings:
                  type: object
                  description: Global settings.
                styles:
                  type: object
                  description: Global styles.
                title:
                  type: object
                  description: Title of the global styles variation.
      security:
      - applicationPassword: []
      description: Write operation. Requires an authenticated WordPress user with the capability the route enforces; anonymous callers receive HTTP 401 rest_forbidden.
    patch:
      operationId: updateGlobalStylesById2
      summary: PATCH /wp/v2/global-styles/{id}
      tags:
      - global styles
      responses:
        '200':
          description: Success. JSON payload as returned by the WordPress REST API.
          content:
            application/json:
              schema:
                type:
                - object
                - array
        '400':
          description: rest_invalid_param — a parameter failed validation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '401':
          description: rest_forbidden — authentication required or insufficient capability.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: rest_no_route / rest_post_invalid_id — no matching route or object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
        description: Path segment from the WordPress route pattern.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                settings:
                  type: object
                  description: Global settings.
                styles:
                  type: object
                  description: Global styles.
                title:
                  type: object
                  description: Title of the global styles variation.
      security:
      - applicationPassword: []
      description: Write operation. Requires an authenticated WordPress user with the capability the route enforces; anonymous callers receive HTTP 401 rest_forbidden.
  /wp/v2/global-styles/{parent}/revisions:
    get:
      operationId: getGlobalStylesByParentRevisions
      summary: GET /wp/v2/global-styles/{parent}/revisions
      tags:
      - global styles
      responses:
        '200':
          description: Success. JSON payload as returned by the WordPress REST API.
          content:
            application/json:
              schema:
                type:
                - object
                - array
        '400':
          description: rest_invalid_param — a parameter failed validation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '401':
          description: rest_forbidden — authentication required or insufficient capability.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: rest_no_route / rest_post_invalid_id — no matching route or object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: parent
        in: path
        required: true
        schema:
          type: string
        description: Path segment from the WordPress route pattern.
      - name: context
        in: query
        required: false
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
        description: Scope under which the request is made; determines fields present in response.
      - name: offset
        in: query
        required: false
        schema:
          type: integer
        description: Offset the result set by a specific number of items.
      - name: page
        in: query
        required: false
        schema:
          type: integer
          default: 1
          minimum: 1
        description: Current page of the collection.
      - name: per_page
        in: query
        required: false
        schema:
          type: integer
          minimum: 1
          maximum: 100
        description: Maximum number of items to be returned in result set.
      description: Read operation. Observed anonymously readable on wmegrp.com for the public content collections.
  /wp/v2/global-styles/{parent}/revisions/{id}:
    get:
      operationId: getGlobalStylesByParentRevisionsById
      summary: GET /wp/v2/global-styles/{parent}/revisions/{id}
      tags:
      - global styles
      responses:
        '200':
          description: Success. JSON payload as returned by the WordPress REST API.
          content:
            application/json:
              schema:
                type:
                - object
                - array
        '400':
          description: rest_invalid_param — a parameter failed validation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '401':
          description: rest_forbidden — authentication required or insufficient capability.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: rest_no_route / rest_post_invalid_id — no matching route or object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: parent
        in: path
        required: true
        schema:
          type: string
        description: Path segment from the WordPress route pattern.
      - name: id
        in: path
        required: true
        schema:
          type: string
        description: Path segment from the WordPress route pattern.
      - name: context
        in: query
        required: false
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
        description: Scope under which the request is made; determines fields present in response.
      description: Read operation. Observed anonymously readable on wmegrp.com for the public content collections.
  /wp/v2/global-styles/themes/{stylesheet}\[\]\@_\-]+)/variations:
    get:
      operationId: getGlobalStylesThemesByStylesheet\[\]\@\]+)Variations
      summary: GET /wp/v2/global-styles/themes/{stylesheet}\[\]\@_\-]+)/variations
      tags:
      - global styles
      responses:
        '200':
          description: Success. JSON payload as returned by the WordPress REST API.
          content:
            application/json:
              schema:
                type:
                - object
                - array
        '400':
          description: rest_invalid_param — a parameter failed validation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '401':
          description: rest_forbidden — authentication required or insufficient capability.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: rest_no_route / rest_post_invalid_id — no matching route or object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: stylesheet
        in: path
        required: true
        schema:
          type: string
        description: Path segment from the WordPress route pattern.
      description: Read operation. Observed anonymously readable on wmegrp.com for the public content collections.
  /wp/v2/global-styles/themes/{stylesheet}?):
    get:
      operationId: getGlobalStylesThemesByStylesheet?)
      summary: GET /wp/v2/global-styles/themes/{stylesheet}?)
      tags:
      - global styles
      responses:
        '200':
          description: Success. JSON payload as returned by the WordPress REST API.
          content:
            application/json:
              schema:
                type:
                - object
                - array
        '400':
          description: rest_invalid_param — a parameter failed validation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '401':
          description: rest_forbidden — authentication required or insufficient capability.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: rest_no_route / rest_post_invalid_id — no matching route or object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: stylesheet
        in: path
        required: true
        schema:
          type: string
        description: Path segment from the WordPress route pattern.
      description: Read operation. Observed anonymously readable on wmegrp.com for the public content collections.
components:
  schemas:
    WPRestError:
      type: object
      description: The WordPress REST API error envelope. Not RFC 9457 problem+json.
      properties:
        code:
          type: string
          description: Machine-readable error slug, e.g. rest_forbidden, rest_no_route, rest_invalid_param.
        message:
          type: string
          description: Human-readable message.
        data:
          type: object
          properties:
            status:
              type: integer
              description: HTTP status code, repeated in the body.
      required:
      - code
      - message
  securitySchemes:
    applicationPassword:
      type: http
      scheme: basic
      description: WordPress Application Passwords over HTTP Basic. Issued from /wp-admin/authorize-application.php by an authenticated site user; not available to the public.
