openapi: 3.2.0
info:
  title: WME Group Content API (WordPress REST wp/v2) Menu Items API
  version: wp/v2
  summary: Public read surface of wmegrp.com — the corporate site of WME Group, the company formerly named Endeavor Group Holdings.
  description: WME Group (the renamed Endeavor Group Holdings) publishes wmegrp.com on WordPress, which exposes the WordPress REST API at https://wmegrp.com/wp-json/.
  contact:
    name: WME Group
    url: https://wmegrp.com/
    email: inquiries@wmegrp.com
  x-derived-by: API Evangelist enrichment pipeline
  x-derived-from: https://wmegrp.com/wp-json/
  x-derived-on: '2026-09-06'
  x-provider-published: false
servers:
- url: https://wmegrp.com/wp-json
  description: Production
tags:
- name: Menu Items
paths:
  /wp/v2/menu-items:
    get:
      operationId: getMenuItems
      summary: GET /wp/v2/menu-items
      tags:
      - Menu Items
      responses:
        '200':
          description: Success. JSON payload as returned by the WordPress REST API.
          content:
            application/json:
              schema:
                type:
                - object
                - array
        '400':
          description: rest_invalid_param — a parameter failed validation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '401':
          description: rest_forbidden — authentication required or insufficient capability.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: rest_no_route / rest_post_invalid_id — no matching route or object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: after
        in: query
        required: false
        schema:
          type: string
          format: date-time
        description: Limit response to posts published after a given ISO8601 compliant date.
      - name: before
        in: query
        required: false
        schema:
          type: string
          format: date-time
        description: Limit response to posts published before a given ISO8601 compliant date.
      - name: context
        in: query
        required: false
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
        description: Scope under which the request is made; determines fields present in response.
      - name: exclude
        in: query
        required: false
        schema:
          type: array
          items:
            type: integer
          default: []
        description: Ensure result set excludes specific IDs.
      - name: include
        in: query
        required: false
        schema:
          type: array
          items:
            type: integer
          default: []
        description: Limit result set to specific IDs.
      - name: menu_order
        in: query
        required: false
        schema:
          type: integer
        description: Limit result set to posts with a specific menu_order value.
      - name: menus
        in: query
        required: false
        schema:
          type: object
        description: Limit result set to items with specific terms assigned in the menus taxonomy.
      - name: menus_exclude
        in: query
        required: false
        schema:
          type: object
        description: Limit result set to items except those with specific terms assigned in the menus taxonomy.
      - name: modified_after
        in: query
        required: false
        schema:
          type: string
          format: date-time
        description: Limit response to posts modified after a given ISO8601 compliant date.
      - name: modified_before
        in: query
        required: false
        schema:
          type: string
          format: date-time
        description: Limit response to posts modified before a given ISO8601 compliant date.
      - name: offset
        in: query
        required: false
        schema:
          type: integer
        description: Offset the result set by a specific number of items.
      - name: order
        in: query
        required: false
        schema:
          type: string
          enum:
          - asc
          - desc
          default: asc
        description: Order sort attribute ascending or descending.
      - name: orderby
        in: query
        required: false
        schema:
          type: string
          enum:
          - author
          - date
          - id
          - include
          - modified
          - parent
          - relevance
          - slug
          - include_slugs
          - title
          - menu_order
          default: menu_order
        description: Sort collection by object attribute.
      - name: page
        in: query
        required: false
        schema:
          type: integer
          default: 1
          minimum: 1
        description: Current page of the collection.
      - name: per_page
        in: query
        required: false
        schema:
          type: integer
          default: 100
          minimum: 1
          maximum: 100
        description: Maximum number of items to be returned in result set.
      - name: search
        in: query
        required: false
        schema:
          type: string
        description: Limit results to those matching a string.
      - name: search_columns
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
            enum:
            - post_title
            - post_content
            - post_excerpt
          default: []
        description: Array of column names to be searched.
      - name: search_semantics
        in: query
        required: false
        schema:
          type: string
          enum:
          - exact
        description: How to interpret the search input.
      - name: slug
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
        description: Limit result set to posts with one or more specific slugs.
      - name: status
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
            enum:
            - publish
            - future
            - draft
            - pending
            - private
            - trash
            - auto-draft
            - inherit
            - request-pending
            - request-confirmed
            - request-failed
            - request-completed
            - acf-disabled
            - any
          default: publish
        description: Limit result set to posts assigned one or more statuses.
      - name: tax_relation
        in: query
        required: false
        schema:
          type: string
          enum:
          - AND
          - OR
        description: Limit result set based on relationship between multiple taxonomies.
      description: Read operation. Observed anonymously readable on wmegrp.com for the public content collections.
    post:
      operationId: createMenuItems
      summary: POST /wp/v2/menu-items
      tags:
      - Menu Items
      responses:
        '200':
          description: Success. JSON payload as returned by the WordPress REST API.
          content:
            application/json:
              schema:
                type:
                - object
                - array
        '400':
          description: rest_invalid_param — a parameter failed validation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '401':
          description: rest_forbidden — authentication required or insufficient capability.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: rest_no_route / rest_post_invalid_id — no matching route or object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                attr_title:
                  type: string
                  description: Text for the title attribute of the link element for this menu item.
                classes:
                  type: array
                  items:
                    type: string
                  description: Class names for the link element of this menu item.
                description:
                  type: string
                  description: The description of this menu item.
                menu_order:
                  type: integer
                  default: 1
                  minimum: 1
                  description: The DB ID of the nav_menu_item that is this item's menu parent, if any, otherwise 0.
                menus:
                  type: integer
                  description: The terms assigned to the object in the nav_menu taxonomy.
                meta:
                  type: object
                  description: Meta fields.
                object:
                  type: string
                  description: The type of object originally represented, such as "category", "post", or "attachment".
                object_id:
                  type: integer
                  default: 0
                  minimum: 0
                  description: The database ID of the original object this menu item represents, for example the ID for posts or the term_id for categories.
                parent:
                  type: integer
                  default: 0
                  minimum: 0
                  description: The ID for the parent of the object.
                status:
                  type: string
                  enum:
                  - publish
                  - future
                  - draft
                  - pending
                  - private
                  - acf-disabled
                  default: publish
                  description: A named status for the object.
                target:
                  type: string
                  enum:
                  - _blank
                  - ''
                  description: The target attribute of the link element for this menu item.
                title:
                  type: string
                  description: The title for the object.
                type:
                  type: string
                  enum:
                  - taxonomy
                  - post_type
                  - post_type_archive
                  - custom
                  default: custom
                  description: The family of objects originally represented, such as "post_type" or "taxonomy".
                url:
                  type: string
                  format: uri
                  description: The URL to which this menu item points.
                xfn:
                  type: array
                  items:
                    type: string
                  description: The XFN relationship expressed in the link of this menu item.
      security:
      - applicationPassword: []
      description: Write operation. Requires an authenticated WordPress user with the capability the route enforces; anonymous callers receive HTTP 401 rest_forbidden.
  /wp/v2/menu-items/{id}:
    get:
      operationId: getMenuItemsById
      summary: GET /wp/v2/menu-items/{id}
      tags:
      - Menu Items
      responses:
        '200':
          description: Success. JSON payload as returned by the WordPress REST API.
          content:
            application/json:
              schema:
                type:
                - object
                - array
        '400':
          description: rest_invalid_param — a parameter failed validation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '401':
          description: rest_forbidden — authentication required or insufficient capability.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: rest_no_route / rest_post_invalid_id — no matching route or object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
        description: Path segment from the WordPress route pattern.
      - name: context
        in: query
        required: false
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
        description: Scope under which the request is made; determines fields present in response.
      description: Read operation. Observed anonymously readable on wmegrp.com for the public content collections.
    post:
      operationId: createMenuItemsById
      summary: POST /wp/v2/menu-items/{id}
      tags:
      - Menu Items
      responses:
        '200':
          description: Success. JSON payload as returned by the WordPress REST API.
          content:
            application/json:
              schema:
                type:
                - object
                - array
        '400':
          description: rest_invalid_param — a parameter failed validation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '401':
          description: rest_forbidden — authentication required or insufficient capability.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: rest_no_route / rest_post_invalid_id — no matching route or object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
        description: Path segment from the WordPress route pattern.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                attr_title:
                  type: string
                  description: Text for the title attribute of the link element for this menu item.
                classes:
                  type: array
                  items:
                    type: string
                  description: Class names for the link element of this menu item.
                description:
                  type: string
                  description: The description of this menu item.
                menu_order:
                  type: integer
                  minimum: 1
                  description: The DB ID of the nav_menu_item that is this item's menu parent, if any, otherwise 0.
                menus:
                  type: integer
                  description: The terms assigned to the object in the nav_menu taxonomy.
                meta:
                  type: object
                  description: Meta fields.
                object:
                  type: string
                  description: The type of object originally represented, such as "category", "post", or "attachment".
                object_id:
                  type: integer
                  minimum: 0
                  description: The database ID of the original object this menu item represents, for example the ID for posts or the term_id for categories.
                parent:
                  type: integer
                  minimum: 0
                  description: The ID for the parent of the object.
                status:
                  type: string
                  enum:
                  - publish
                  - future
                  - draft
                  - pending
                  - private
                  - acf-disabled
                  description: A named status for the object.
                target:
                  type: string
                  enum:
                  - _blank
                  - ''
                  description: The target attribute of the link element for this menu item.
                title:
                  type: string
                  description: The title for the object.
                type:
                  type: string
                  enum:
                  - taxonomy
                  - post_type
                  - post_type_archive
                  - custom
                  description: The family of objects originally represented, such as "post_type" or "taxonomy".
                url:
                  type: string
                  format: uri
                  description: The URL to which this menu item points.
                xfn:
                  type: array
                  items:
                    type: string
                  description: The XFN relationship expressed in the link of this menu item.
      security:
      - applicationPassword: []
      description: Write operation. Requires an authenticated WordPress user with the capability the route enforces; anonymous callers receive HTTP 401 rest_forbidden.
    put:
      operationId: updateMenuItemsById
      summary: PUT /wp/v2/menu-items/{id}
      tags:
      - Menu Items
      responses:
        '200':
          description: Success. JSON payload as returned by the WordPress REST API.
          content:
            application/json:
              schema:
                type:
                - object
                - array
        '400':
          description: rest_invalid_param — a parameter failed validation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '401':
          description: rest_forbidden — authentication required or insufficient capability.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: rest_no_route / rest_post_invalid_id — no matching route or object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
        description: Path segment from the WordPress route pattern.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                attr_title:
                  type: string
                  description: Text for the title attribute of the link element for this menu item.
                classes:
                  type: array
                  items:
                    type: string
                  description: Class names for the link element of this menu item.
                description:
                  type: string
                  description: The description of this menu item.
                menu_order:
                  type: integer
                  minimum: 1
                  description: The DB ID of the nav_menu_item that is this item's menu parent, if any, otherwise 0.
                menus:
                  type: integer
                  description: The terms assigned to the object in the nav_menu taxonomy.
                meta:
                  type: object
                  description: Meta fields.
                object:
                  type: string
                  description: The type of object originally represented, such as "category", "post", or "attachment".
                object_id:
                  type: integer
                  minimum: 0
                  description: The database ID of the original object this menu item represents, for example the ID for posts or the term_id for categories.
                parent:
                  type: integer
                  minimum: 0
                  description: The ID for the parent of the object.
                status:
                  type: string
                  enum:
                  - publish
                  - future
                  - draft
                  - pending
                  - private
                  - acf-disabled
                  description: A named status for the object.
                target:
                  type: string
                  enum:
                  - _blank
                  - ''
                  description: The target attribute of the link element for this menu item.
                title:
                  type: string
                  description: The title for the object.
                type:
                  type: string
                  enum:
                  - taxonomy
                  - post_type
                  - post_type_archive
                  - custom
                  description: The family of objects originally represented, such as "post_type" or "taxonomy".
                url:
                  type: string
                  format: uri
                  description: The URL to which this menu item points.
                xfn:
                  type: array
                  items:
                    type: string
                  description: The XFN relationship expressed in the link of this menu item.
      security:
      - applicationPassword: []
      description: Write operation. Requires an authenticated WordPress user with the capability the route enforces; anonymous callers receive HTTP 401 rest_forbidden.
    patch:
      operationId: updateMenuItemsById2
      summary: PATCH /wp/v2/menu-items/{id}
      tags:
      - Menu Items
      responses:
        '200':
          description: Success. JSON payload as returned by the WordPress REST API.
          content:
            application/json:
              schema:
                type:
                - object
                - array
        '400':
          description: rest_invalid_param — a parameter failed validation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '401':
          description: rest_forbidden — authentication required or insufficient capability.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: rest_no_route / rest_post_invalid_id — no matching route or object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
        description: Path segment from the WordPress route pattern.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                attr_title:
                  type: string
                  description: Text for the title attribute of the link element for this menu item.
                classes:
                  type: array
                  items:
                    type: string
                  description: Class names for the link element of this menu item.
                description:
                  type: string
                  description: The description of this menu item.
                menu_order:
                  type: integer
                  minimum: 1
                  description: The DB ID of the nav_menu_item that is this item's menu parent, if any, otherwise 0.
                menus:
                  type: integer
                  description: The terms assigned to the object in the nav_menu taxonomy.
                meta:
                  type: object
                  description: Meta fields.
                object:
                  type: string
                  description: The type of object originally represented, such as "category", "post", or "attachment".
                object_id:
                  type: integer
                  minimum: 0
                  description: The database ID of the original object this menu item represents, for example the ID for posts or the term_id for categories.
                parent:
                  type: integer
                  minimum: 0
                  description: The ID for the parent of the object.
                status:
                  type: string
                  enum:
                  - publish
                  - future
                  - draft
                  - pending
                  - private
                  - acf-disabled
                  description: A named status for the object.
                target:
                  type: string
                  enum:
                  - _blank
                  - ''
                  description: The target attribute of the link element for this menu item.
                title:
                  type: string
                  description: The title for the object.
                type:
                  type: string
                  enum:
                  - taxonomy
                  - post_type
                  - post_type_archive
                  - custom
                  description: The family of objects originally represented, such as "post_type" or "taxonomy".
                url:
                  type: string
                  format: uri
                  description: The URL to which this menu item points.
                xfn:
                  type: array
                  items:
                    type: string
                  description: The XFN relationship expressed in the link of this menu item.
      security:
      - applicationPassword: []
      description: Write operation. Requires an authenticated WordPress user with the capability the route enforces; anonymous callers receive HTTP 401 rest_forbidden.
    delete:
      operationId: deleteMenuItemsById
      summary: DELETE /wp/v2/menu-items/{id}
      tags:
      - Menu Items
      responses:
        '200':
          description: Success. JSON payload as returned by the WordPress REST API.
          content:
            application/json:
              schema:
                type:
                - object
                - array
        '400':
          description: rest_invalid_param — a parameter failed validation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '401':
          description: rest_forbidden — authentication required or insufficient capability.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: rest_no_route / rest_post_invalid_id — no matching route or object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
        description: Path segment from the WordPress route pattern.
      - name: force
        in: query
        required: false
        schema:
          type: boolean
          default: false
        description: Whether to bypass Trash and force deletion.
      security:
      - applicationPassword: []
      description: Write operation. Requires an authenticated WordPress user with the capability the route enforces; anonymous callers receive HTTP 401 rest_forbidden.
  /wp/v2/menu-items/{id}/autosaves:
    get:
      operationId: getMenuItemsByIdAutosaves
      summary: GET /wp/v2/menu-items/{id}/autosaves
      tags:
      - Menu Items
      responses:
        '200':
          description: Success. JSON payload as returned by the WordPress REST API.
          content:
            application/json:
              schema:
                type:
                - object
                - array
        '400':
          description: rest_invalid_param — a parameter failed validation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '401':
          description: rest_forbidden — authentication required or insufficient capability.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: rest_no_route / rest_post_invalid_id — no matching route or object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
        description: Path segment from the WordPress route pattern.
      - name: context
        in: query
        required: false
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
        description: Scope under which the request is made; determines fields present in response.
      - name: parent
        in: query
        required: false
        schema:
          type: integer
        description: The ID for the parent of the autosave.
      description: Read operation. Observed anonymously readable on wmegrp.com for the public content collections.
    post:
      operationId: createMenuItemsByIdAutosaves
      summary: POST /wp/v2/menu-items/{id}/autosaves
      tags:
      - Menu Items
      responses:
        '200':
          description: Success. JSON payload as returned by the WordPress REST API.
          content:
            application/json:
              schema:
                type:
                - object
                - array
        '400':
          description: rest_invalid_param — a parameter failed validation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '401':
          description: rest_forbidden — authentication required or insufficient capability.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: rest_no_route / rest_post_invalid_id — no matching route or object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
        description: Path segment from the WordPress route pattern.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                attr_title:
                  type: string
                  description: Text for the title attribute of the link element for this menu item.
                classes:
                  type: array
                  items:
                    type: string
                  description: Class names for the link element of this menu item.
                description:
                  type: string
                  description: The description of this menu item.
                menu_order:
                  type: integer
                  minimum: 1
                  description: The DB ID of the nav_menu_item that is this item's menu parent, if any, otherwise 0.
                menus:
                  type: integer
                  description: The terms assigned to the object in the nav_menu taxonomy.
                meta:
                  type: object
                  description: Meta fields.
                object:
                  type: string
                  description: The type of object originally represented, such as "category", "post", or "attachment".
                object_id:
                  type: integer
                  minimum: 0
                  description: The database ID of the original object this menu item represents, for example the ID for posts or the term_id for categories.
                parent:
                  type: integer
                  minimum: 0
                  description: The ID for the parent of the object.
                status:
                  type: string
                  enum:
                  - publish
                  - future
                  - draft
                  - pending
                  - private
                  - acf-disabled
                  description: A named status for the object.
                target:
                  type: string
                  enum:
                  - _blank
                  - ''
                  description: The target attribute of the link element for this menu item.
                title:
                  type: string
                  description: The title for the object.
                type:
                  type: string
                  enum:
                  - taxonomy
                  - post_type
                  - post_type_archive
                  - custom
                  description: The family of objects originally represented, such as "post_type" or "taxonomy".
                url:
                  type: string
                  format: uri
                  description: The URL to which this menu item points.
                xfn:
                  type: array
                  items:
                    type: string
                  description: The XFN relationship expressed in the link of this menu item.
      security:
      - applicationPassword: []
      description: Write operation. Requires an authenticated WordPress user with the capability the route enforces; anonymous callers receive HTTP 401 rest_forbidden.
  /wp/v2/menu-items/{parent}/autosaves/{id}:
    get:
      operationId: getMenuItemsByParentAutosavesById
      summary: GET /wp/v2/menu-items/{parent}/autosaves/{id}
      tags:
      - Menu Items
      responses:
        '200':
          description: Success. JSON payload as returned by the WordPress REST API.
          content:
            application/json:
              schema:
                type:
                - object
                - array
        '400':
          description: rest_invalid_param — a parameter failed validation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '401':
          description: rest_forbidden — authentication required or insufficient capability.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: rest_no_route / rest_post_invalid_id — no matching route or object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: parent
        in: path
        required: true
        schema:
          type: string
        description: Path segment from the WordPress route pattern.
      - name: id
        in: path
        required: true
        schema:
          type: string
        description: Path segment from the WordPress route pattern.
      - name: context
        in: query
        required: false
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
        description: Scope under which the request is made; determines fields present in response.
      description: Read operation. Observed anonymously readable on wmegrp.com for the public content collections.
components:
  schemas:
    WPRestError:
      type: object
      description: The WordPress REST API error envelope. Not RFC 9457 problem+json.
      properties:
        code:
          type: string
          description: Machine-readable error slug, e.g. rest_forbidden, rest_no_route, rest_invalid_param.
        message:
          type: string
          description: Human-readable message.
        data:
          type: object
          properties:
            status:
              type: integer
              description: HTTP status code, repeated in the body.
      required:
      - code
      - message
  securitySchemes:
    applicationPassword:
      type: http
      scheme: basic
      description: WordPress Application Passwords over HTTP Basic. Issued from /wp-admin/authorize-application.php by an authenticated site user; not available to the public.
